@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Roboto:wght@300&display=swap');

    body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Times New Roman' ,
         Times, serif; 
  color: black;
  background-color: #1643;}
  li, p{
line-height: 1.5;}
h1 {
  font-family: Helvetica}
h2 {
    font-family: 'Roboto', sans-serif;}
ol {
list-style-type: upper-roman;}
#twine-img{
display: block;
margin-left: auto;
margin-right: auto;
width: 60%;}
nav{
    background-color: #FFFF;
    font-family: 'Times New Roman', Times, serif;
    color: #0000;
    padding: 2px;
  }
  
  nav ul{
    list-style-type: none;
    display: inline;
      font-family: Lato;
      color: #FFFF;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    background-color:#FFFF;
    padding: 0 17px;
  }
